<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Job postings from Hackernews hiring threads">
		<meta name="author" content="Adam Hawkins">

		<title>Who's Hiring on HackerNews</title>

		<link href="style.css" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="/">HackerNews Who's Hiring RSS</a>
				<div class="navbar-nav mr-auto">
					<ul class="navbar-nav">
						<li class="nav-item <%= jobs_page? ? 'active' : nil %>">
							<a class="nav-link" href="/">Jobs</a>
						</li>
						<li class="nav-item <%= freelancers_page? ? 'active': nil %>">
							<a class="nav-link" href="/freelancers">Freelancers</a>
						</li>
					</ul>
				</div>
				<span class="navbar-text">
					Made by <a href="https://twitter.com/adman65">Adam Hawkins</a>. <a href="https://github.com/ahawkins/hn-whos-hiring">Source</a>
				</span>
			</nav>

			<div class="row">
				<div class="col">
					<p class="my-2">
						Hey! Looking for a job? This website provides an RSS feed of posts in the various <a href="https://news.ycombinator.com/user?id=whoishiring">HackerNews Who's Hiring</a> threads.
						Results updated every 15 minutes.
					</p>
				</div>
			</div>

			<%= yield %>
		</div>
	</body>
</html>
